![sql](img/sql-logo.jpg)

# A beginner's guide to databases, SQL, & using them with `pandas`

**Scenario:** You are a data analyst for the Homeland Security, trying to create reports on the active airports world wide. The data you need to access is in a SQL database. YOu need to be able to query for the data in a database!

## Learning goals:
- Goal 1: Summarize the use case for sql in the data science skill set
- Goal 2: Define key sql terminology
- Goal 3: Get information about DB schema and table structure
- Goal 4: Use basic SQL commands:
    - Construct SQL queries
    - Use JOIN to merge tables along logical columns
    - Grouping Data with SQL
- Goal 5: Query data from pandas dataframes using SQL
- Goal 6: Convert SQL to pandas

## Goal 1: Summarize

[Netflix has a great article](https://medium.com/netflix-techblog/notebook-innovation-591ee3221233) describing three different data roles at their company, their different needs, and their toolsets.

![netflix](img/netflix-data-roles.jpeg)

Examining that graphic, SQL shows up as one of the tools of the _Data Engineer_

Data Engineers provide the essential data architecture services that make data science possible.

![hierarchy](img/ai-hierachy.png)

[Source: Monica Rogati’s fantastic Medium post “The AI Hierarchy of Needs”
](https://hackernoon.com/the-ai-hierarchy-of-needs-18f111fcc007)

![etl](img/etl.png)

[img source: Jeff Hammerbacher’s slide from UC Berkeley CS 194 course ](https://bcourses.berkeley.edu/courses/1377158/pages/cs-194-16-introduction-to-data-science-fall-2015)

### What is a Relational Database? 

![rdb](img/relational-dbms-model.png)
[reference for image ](https://www.studytonight.com/dbms/database-model.php)

### POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

***
## Goal 2: Database terminology

### Relational Database Schema

![schema](img/MySQL_Schema_Music_Example.png)

[source of image](https://database.guide/what-is-a-database-schema/)

### Table columns view
![table example](img/columns.png)

### Terminology

- Schema
- Primary Key
- Foreign Key
- Structured queries
- Views

***
### SQLite

![sqlite](img/SQLite-Python.jpg)

"SQLite is a C library that provides a lightweight disk-based database that doesn’t require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language. Some applications can use SQLite for internal data storage. It’s also possible to prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle." - [sqlite documentation](https://docs.python.org/2/library/sqlite3.html)

## But what about connecting to database servers?

To connect to an Oracle database server there is a different package, `cx_Oracle`. The documentation for that package is [here](https://oracle.github.io/python-cx_Oracle/)

***
## Goal 3: Get going with sqlite!

In [79]:
import sqlite3

#### Load a DB object with `connect` and `cursor`

In [80]:
con = sqlite3.connect('flights.db')
cursor = con.cursor()

#### Use sqlite_master to find all the tables in the schema
Get the schema of a database from a db in sqlite

In [81]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('airports',), ('airlines',), ('routes',)]

In [82]:
conn = sqlite3.connect("flights.db")
df = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
df

       name
0  airports
1  airlines
2    routes

#### Get information about one table

**A note about** `execute`<br>
Each time you use it, you reset the value of cursor

In [83]:
cursor.execute("SELECT * FROM airports")

#### Use description

In [84]:
cursor.description

(('index', None, None, None, None, None, None),
 ('id', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('country', None, None, None, None, None, None),
 ('code', None, None, None, None, None, None),
 ('icao', None, None, None, None, None, None),
 ('latitude', None, None, None, None, None, None),
 ('longitude', None, None, None, None, None, None),
 ('altitude', None, None, None, None, None, None),
 ('offset', None, None, None, None, None, None),
 ('dst', None, None, None, None, None, None),
 ('timezone', None, None, None, None, None, None))

#### Or use `Pragma`
`Pragma` tool [link here](https://www.sqlite.org/pragma.html#pragma_table_info)

**output**<br>
`(column id, column name, data type, whether or not the column can be NULL, and the default value for the column)`

In [85]:
cursor.execute("PRAGMA table_info(airports)")
info = cursor.fetchall()
print(*info, sep = "\n")

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'id', 'TEXT', 0, None, 0)
(2, 'name', 'TEXT', 0, None, 0)
(3, 'city', 'TEXT', 0, None, 0)
(4, 'country', 'TEXT', 0, None, 0)
(5, 'code', 'TEXT', 0, None, 0)
(6, 'icao', 'TEXT', 0, None, 0)
(7, 'latitude', 'TEXT', 0, None, 0)
(8, 'longitude', 'TEXT', 0, None, 0)
(9, 'altitude', 'TEXT', 0, None, 0)
(10, 'offset', 'TEXT', 0, None, 0)
(11, 'dst', 'TEXT', 0, None, 0)
(12, 'timezone', 'TEXT', 0, None, 0)

#### Making fetch happen

`.fetchall()` is how you get the query results out of the object.

You can also `.fetchone()` or `.fetchmany()`

**Task:** Get the descriptive data for airlines and routes tables

In [86]:
cursor.execute("PRAGMA table_info(airlines)")
info = cursor.fetchall()
print(*info, sep = "\n")

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'id', 'TEXT', 0, None, 0)
(2, 'name', 'TEXT', 0, None, 0)
(3, 'alias', 'TEXT', 0, None, 0)
(4, 'iata', 'TEXT', 0, None, 0)
(5, 'icao', 'TEXT', 0, None, 0)
(6, 'callsign', 'TEXT', 0, None, 0)
(7, 'country', 'TEXT', 0, None, 0)
(8, 'active', 'TEXT', 0, None, 0)

In [87]:
cursor.execute("PRAGMA table_info(routes)")
info = cursor.fetchall()
print(*info, sep = "\n")

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'airline', 'TEXT', 0, None, 0)
(2, 'airline_id', 'TEXT', 0, None, 0)
(3, 'source', 'TEXT', 0, None, 0)
(4, 'source_id', 'TEXT', 0, None, 0)
(5, 'dest', 'TEXT', 0, None, 0)
(6, 'dest_id', 'TEXT', 0, None, 0)
(7, 'codeshare', 'TEXT', 0, None, 0)
(8, 'stops', 'TEXT', 0, None, 0)
(9, 'equipment', 'TEXT', 0, None, 0)

cursor.description.fetchall()

In [88]:
cursor.execute(select* from routes)

SyntaxError: invalid syntax (<ipython-input-88-aaa642a0900e>, line 1)

***
## Goal 4: Use basic SQL commands 
- Construct SQL queries
- Use JOIN to merge tables along logical columns
- Grouping Data with SQL

### Construct SQL queries

**Select**

**From**

**Where**

**Order by**

**Limit**

#### Options for each:

**Select**:  `distinct`, using `as` to rename columns, single number aggregates

**From:** also uses aliasing with `as`

**Where**: equals is only one `=`, `between`, `in`, wildcards `%`, `AND`, `OR`, `NOT`

**Order by**: `asc` and `desc`

**Limit**:  #

In [89]:
cursor.execute("""SELECT * FROM airlines;""").fetchall()

[(0, '1', 'Private flight', '\\N', '-', None, None, None, 'Y'),
 (1, '2', '135 Airways', '\\N', None, 'GNL', 'GENERAL', 'United States', 'N'),
 (2, '3', '1Time Airline', '\\N', '1T', 'RNX', 'NEXTIME', 'South Africa', 'Y'),
 (3,
  '4',
  '2 Sqn No 1 Elementary Flying Training School',
  '\\N',
  None,
  'WYT',
  None,
  'United Kingdom',
  'N'),
 (4, '5', '213 Flight Unit', '\\N', None, 'TFU', None, 'Russia', 'N'),
 (5,
  '6',
  '223 Flight Unit State Airline',
  '\\N',
  None,
  'CHD',
  'CHKALOVSK-AVIA',
  'Russia',
  'N'),
 (6,
  '7',
  '224th Flight Unit',
  '\\N',
  None,
  'TTF',
  'CARGO UNIT',
  'Russia',
  'N'),
 (7,
  '8',
  '247 Jet Ltd',
  '\\N',
  None,
  'TWF',
  'CLOUD RUNNER',
  'United Kingdom',
  'N'),
 (8, '9', '3D Aviation', '\\N', None, 'SEC', 'SECUREX', 'United States', 'N'),
 (9,
  '10',
  '40-Mile Air',
  '\\N',
  'Q5',
  'MLA',
  'MILE-AIR',
  'United States',
  'Y'),
 (10, '11', '4D Air', '\\N', None, 'QRT', 'QUARTET', 'Thailand', 'N'),
 (11,
  '12',
  '611897 Alberta Limited',
  '\\N',
  None,
  'THD',
  'DONUT',
  'Canada',
  'N'),
 (12,
  '13',
  'Ansett Australia',
  '\\N',
  'AN',
  'AAA',
  'ANSETT',
  'Australia',
  'Y'),
 (13, '14', 'Abacus International', '\\N', '1B', None, None, 'Singapore', 'Y'),
 (14, '15', 'Abelag Aviation', '\\N', 'W9', 'AAB', 'ABG', 'Belgium', 'N'),
 (15,
  '16',
  'Army Air Corps',
  '\\N',
  None,
  'AAC',
  'ARMYAIR',
  'United Kingdom',
  'N'),
 (16,
  '17',
  'Aero Aviation Centre Ltd.',
  '\\N',
  None,
  'AAD',
  'SUNRISE',
  'Canada',
  'N'),
 (17,
  '18',
  'Aero Servicios Ejecutivos Internacionales',
  '\\N',
  None,
  'SII',
  'ASEISA',
  'Mexico',
  'N'),
 (18, '19', 'Aero Biniza', '\\N', None, 'BZS', 'BINIZA', 'Mexico', 'N'),
 (19,
  '20',
  'Aero Albatros',
  '\\N',
  None,
  'ABM',
  'ALBATROS ESPANA',
  'Spain',
  'N'),
 (20, '21', 'Aigle Azur', '\\N', 'ZI', 'AAF', 'AIGLE AZUR', 'France', 'Y'),
 (21,
  '22',
  'Aloha Airlines',
  '\\N',
  'AQ',
  'AAH',
  'ALOHA',
  'United States',
  'Y'),
 (22,
  '23',
  'Alaska Island Air',
  '\\N',
  None,
  'AAK',
  'ALASKA ISLAND',
  'United States',
  'N'),
 (23,
  '24',
  'American Airlines',
  '\\N',
  'AA',
  'AAL',
  'AMERICAN',
  'United States',
  'Y'),
 (24,
  '25',
  'Aviation Management Corporation',
  '\\N',
  None,
  'AAM',
  'AM CORP',
  'United States',
  'N'),
 (25,
  '26',
  'Atlantis Airlines (USA)',
  '\\N',
  None,
  'AAO',
  'ATLANTIS AIR',
  'United States',
  'N'),
 (26,
  '27',
  'Aerovista Airlines',
  '\\N',
  None,
  'AAP',
  'AEROVISTA GROUP',
  'United Arab Emirates',
  'N'),
 (27,
  '28',
  'Asiana Airlines',
  '\\N',
  'OZ',
  'AAR',
  'ASIANA',
  'Republic of Korea',
  'Y'),
 (28, '29', 'Askari Aviation', '\\N', '4K', 'AAS', 'AL-AAS', 'Pakistan', 'Y'),
 (29,
  '30',
  'Australia Asia Airlines',
  '\\N',
  None,
  'AAU',
  'AUSTASIA',
  'Australia',
  'N'),
 (30,
  '31',
  'Astro Air International',
  '\\N',
  None,
  'AAV',
  'ASTRO-PHIL',
  'United States',
  'N'),
 (31,
  '32',
  'Afriqiyah Airways',
  '\\N',
  '8U',
  'AAW',
  'AFRIQIYAH',
  'Libya',
  'Y'),
 (32,
  '33',
  'Afrinat International Airlines',
  '\\N',
  'Q9',
  'AFU',
  None,
  'Gambia',
  'N'),
 (33,
  '34',
  "Afric'air Express",
  '\\N',
  None,
  'AAX',
  'AFREX',
  'Ivory Coast',
  'N'),
 (34,
  '35',
  'Allegiant Air',
  '\\N',
  'G4',
  'AAY',
  'ALLEGIANT',
  'United States',
  'Y'),
 (35, '36', 'Angus Aviation', '\\N', None, 'AAZ', 'ANGUS', 'Canada', 'N'),
 (36, '37', 'Artem-Avia', '\\N', None, 'ABA', 'ARTEM-AVIA', 'Ukraine', 'N'),
 (37,
  '38',
  'African Business and Transportations',
  '\\N',
  None,
  'ABB',
  'AFRICAN BUSINESS-',
  'Democratic Republic of the Congo',
  'N'),
 (38, '39', 'Aban Air', '\\N', 'K5', 'ABE', 'ABAN', 'Iran', 'n'),
 (39, '40', 'Aerial Oy', '\\N', None, 'ABF', 'SKYWINGS', 'Finland', 'N'),
 (40, '41', 'Abakan-Avia', '\\N', None, 'ABG', 'ABAKAN-AVIA', 'Russia', 'N'),
 (41,
  '42',
  'ABSA - Aerolinhas Brasileiras',
  '\\N',
  'M3',
  'TUS',
  'ABSA Cargo',
  'Brazil',
  'Y'),
 (42, '43', 'Abaet', '\\N', None, 'ABJ', 'Abaet', 'Brazil', 'N'),
 (43,
  '44',
  'Alberta Citylink',
  '\\N',
  None,
  'ABK',
  'ALBERTA CITYLINK',
  'Canada',
  'N'),
 (44,
  '45',
  'APSA Colombia',
  '\\N',
  None,
  'ABO',
  'AEROEXPRESO',
  'Colombia',
  'N'),
 (45,
  '46',
  'Aerovias Bueno',
  '\\N',
  None,
  'ABU',
  'AEROBUENO',
  'Colombia',
  'N'),
 (46,
  '47',
  'Aerocenter',
  '\\N',
  None,
  'ACR',
  ' Escuela de Formacion de Pioltos Privados de Avion',
  'AEROCENTER',
  'N'),
 (47, '48', 'Antrak Air', '\\N', '04', 'ABV', 'ANTRAK', 'Ghana', 'N'),
 (48,
  '49',
  'Airborne Express',
  '\\N',
  'GB',
  'ABX',
  'ABEX',
  'United States',
  'N'),
 (49, '50', 'ABX Air', '\\N', 'GB', 'ABX', 'ABEX', 'United States', 'N'),
 (50, '51', 'ATA Brasil', '\\N', None, 'ABZ', 'ATA-BRAZIL', 'Brazil', 'N'),
 (51,
  '52',
  'Avcard Services',
  '\\N',
  None,
  'ACC',
  None,
  'United Kingdom',
  'N'),
 (52,
  '53',
  'Academy Airlines',
  '\\N',
  None,
  'ACD',
  'ACADEMY',
  'United States',
  'N'),
 (53, '54', 'Aero Comondu', '\\N', None, 'ACO', 'AERO COMONDU', 'Mexico', 'N'),
 (54,
  '55',
  'Astral Aviation',
  '\\N',
  '8V',
  'ACP',
  'ASTRAL CARGO',
  'Kenya',
  'Y'),
 (55, '56', 'Air Cess', '\\N', None, 'ACS', None, 'Liberia', 'N'),
 (56,
  '57',
  'Air Aurora',
  '\\N',
  None,
  'AAI',
  'BOREALIS',
  'United States',
  'N'),
 (57,
  '58',
  'Air Cargo Transportation System',
  '\\N',
  None,
  'ACU',
  'AFRISPIRIT',
  'Kenya',
  'N'),
 (58,
  '59',
  'Air Charter Service',
  '\\N',
  None,
  'ACV',
  None,
  'United Kingdom',
  'N'),
 (59,
  '60',
  'Aero Asia International',
  '\\N',
  'E4',
  'RSO',
  'AERO ASIA',
  'Pakistan',
  'N'),
 (60, '61', 'Air Charters', '\\N', None, 'ACX', 'PARAIR', 'Canada', 'N'),
 (61, '62', 'Air Togo', '\\N', 'YT', 'TGA', 'AIR TOGO', 'Togo', 'N'),
 (62,
  '63',
  'Air Somalia',
  '\\N',
  None,
  'RSM',
  'AIR SOMALIA',
  'Somali Republic',
  'N'),
 (63,
  '64',
  'Atlas Cargo Lines',
  '\\N',
  None,
  'ACY',
  'ATLAS CARGOLINES',
  'Morocco',
  'N'),
 (64,
  '65',
  'Airservices Australia',
  '\\N',
  None,
  'ADA',
  'AUSCAL',
  'Australia',
  'N'),
 (65,
  '66',
  'Advance Leasing Company',
  '\\N',
  '4G',
  None,
  None,
  'United States',
  'N'),
 (66,
  '67',
  'Aztec Worldwide Airlines',
  '\\N',
  '7A',
  None,
  None,
  'United States',
  'N'),
 (67, '68', 'Air Tindi', '\\N', '8T', None, None, 'Canadian Territories', 'Y'),
 (68,
  '69',
  'Antonov Airlines',
  '\\N',
  None,
  'ADB',
  'ANTONOV BUREAU',
  'Ukraine',
  'N'),
 (69,
  '70',
  'Air Atlantic Dominicana',
  '\\N',
  None,
  'ADC',
  'ATLAN-DOMINICAN',
  'Dominican Republic',
  'N'),
 (70, '71', 'Advanced Air Co.', '\\N', None, 'ADD', None, 'Japan', 'N'),
 (71, '72', 'Ada Air', '\\N', 'ZY', 'ADE', 'ADA AIR', 'Albania', 'Y'),
 (72,
  '73',
  'Aerea Flying Training Organization',
  '\\N',
  None,
  'ADG',
  'AEREA TRAINING',
  'Spain',
  'N'),
 (73, '74', 'Audeli Air', '\\N', None, 'ADI', 'AUDELI', 'Spain', 'N'),
 (74, '75', 'Abicar', '\\N', None, 'ADJ', 'ABICAR', 'Ivory Coast', 'N'),
 (75, '76', 'ADC Airlines', '\\N', 'Z7', 'ADK', 'ADCO', 'Nigeria', 'N'),
 (76,
  '77',
  'Aero Dynamics',
  '\\N',
  None,
  'ADL',
  'COTSWOLD',
  'United Kingdom',
  'N'),
 (77,
  '78',
  'Aerolineas Dominicanas',
  '\\N',
  None,
  'ADM',
  'DOMINAIR',
  'Dominican Republic',
  'N'),
 (78,
  '79',
  'Aerodienst GmbH',
  '\\N',
  None,
  'ADN',
  'AERODIENST',
  'Germany',
  'N'),
 (79,
  '80',
  'Aerodiplomatic',
  '\\N',
  None,
  'ADP',
  'AERODIPLOMATIC',
  'Mexico',
  'N'),
 (80, '81', 'Aerodyne', '\\N', None, 'ADY', 'AERODYNE', 'United States', 'N'),
 (81, '82', 'Avion Taxi', '\\N', None, 'ADQ', 'AIR DATA', 'Canada', 'N'),
 (82, '83', 'Adria Airways', '\\N', 'JP', 'ADR', 'ADRIA', 'Slovenia', 'Y'),
 (83, '84', 'Aviones de Sonora', '\\N', None, 'ADS', 'SONORAV', 'Mexico', 'N'),
 (84, '85', 'Air Dorval', '\\N', None, 'ADT', 'AIR DORVAL', 'Canada', 'N'),
 (85, '86', 'Airdeal Oy', '\\N', None, 'ADU', 'AIRDEAL', 'Finland', 'N'),
 (86,
  '87',
  'Advance Air Charters',
  '\\N',
  None,
  'ADV',
  'ADVANCE',
  'Canada',
  'N'),
 (87, '88', 'Air Andaman', '\\N', None, 'ADW', 'AIR ANDAMAN', 'Thailand', 'N'),
 (88,
  '89',
  'Anderson Aviation',
  '\\N',
  None,
  'ADX',
  'ANDAX',
  'United States',
  'N'),
 (89, '90', 'Air Europa', '\\N', 'UX', 'AEA', 'EUROPA', 'Spain', 'Y'),
 (90,
  '91',
  'Air Southwest Ltd.',
  '\\N',
  None,
  'ASW',
  'AIRSOUTHWEST',
  'Canada',
  'N'),
 (91,
  '92',
  'Air Special',
  '\\N',
  None,
  'ASX',
  'AIRSPEC',
  'Czech Republic',
  'N'),
 (92, '93', 'Aero Benin', '\\N', 'EM', 'AEB', 'AEROBEN', 'Benin', 'Y'),
 (93,
  '94',
  'Aerocesar',
  '\\N',
  None,
  'AEC',
  ' Aerovias Del Cesar',
  'AEROCESAR',
  'N'),
 (94, '95', 'Aerotrans Airlines', '\\N', None, 'AED', None, 'Russia', 'N'),
 (95, '96', 'Aegean Airlines', '\\N', 'A3', 'AEE', 'AEGEAN', 'Greece', 'Y'),
 (96,
  '97',
  'Aerofumigaciones Sam',
  '\\N',
  None,
  'AEG',
  'FUMIGACIONES SAM',
  'Chile',
  'N'),
 (97,
  '98',
  'Aeroexpreso Interamericano',
  '\\N',
  None,
  'AEI',
  'INTERAM',
  'Colombia',
  'N'),
 (98,
  '99',
  'Air Express',
  '\\N',
  None,
  'AEJ',
  'KHAKI EXPRESS',
  'Tanzania',
  'N'),
 (99, '100', 'Aerocon', '\\N', None, 'AEK', 'AEROCON', 'Bolivia', 'N'),
 (100, '101', 'Aero Madrid', '\\N', None, 'AEM', 'AEROMADRID', 'Spain', 'N'),
 (101,
  '102',
  'Aeroenlaces Nacionales',
  '\\N',
  None,
  'AEN',
  None,
  'Mexico',
  'N'),
 (102,
  '103',
  'Aeroservicios Ejecutivos Del Occidente',
  '\\N',
  None,
  'AEO',
  'AERO OCCIDENTE',
  'Mexico',
  'N'),
 (103, '104', 'Aerotec', '\\N', None, 'AEP', 'AEROTEC', 'Spain', 'N'),
 (104,
  '105',
  'Air Atlantique',
  '\\N',
  'KI',
  'AAG',
  'ATLANTIC',
  'United Kingdom',
  'N'),
 (105, '106', 'Air Europe', '\\N', 'PE', 'AEL', 'AIR EUROPE', 'Italy', 'Y'),
 (106, '107', 'Air Alma', '\\N', None, 'AAJ', 'AIR ALMA', 'Canada', 'N'),
 (107, '108', 'Air Express', '\\N', None, 'AEQ', 'LUNA', 'Sweden', 'N'),
 (108,
  '109',
  'Alaska Central Express',
  '\\N',
  'KO',
  'AER',
  'ACE AIR',
  'United States',
  'Y'),
 (109, '110', 'ACES Colombia', '\\N', None, 'AES', 'ACES', 'Colombia', 'Y'),
 (110,
  '111',
  'Aeronautical Radio of Thailand',
  '\\N',
  None,
  'AET',
  'AEROTHAI',
  'Thailand',
  'N'),
 (111,
  '112',
  'Astraeus',
  '\\N',
  '5W',
  'AEU',
  'FLYSTAR',
  'United Kingdom',
  'Y'),
 (112, '113', 'Aeroventas', '\\N', None, 'AEV', 'AEROVENTAS', 'Mexico', 'N'),
 (113,
  '114',
  'Aerosvit Airlines',
  '\\N',
  'VV',
  'AEW',
  'AEROSVIT',
  'Ukraine',
  'Y'),
 (114,
  '115',
  'Airway Express',
  '\\N',
  None,
  'AEX',
  'AVCO',
  'United States',
  'N'),
 (115, '116', 'Air Italy', '\\N', 'I9', 'AEY', 'AIR ITALY', 'Italy', 'Y'),
 (116,
  '117',
  'Aerial Transit Company',
  '\\N',
  None,
  'AEZ',
  'AERIAL TRANZ',
  'United States',
  'N'),
 (117,
  '118',
  'Alfa Air',
  '\\N',
  None,
  'AFA',
  'BLUE ALFA',
  'Czech Republic',
  'N'),
 (118,
  '119',
  'American Falcon',
  '\\N',
  'WK',
  'AFB',
  'AMERICAN FALCON',
  'Argentina',
  'N'),
 (119,
  '120',
  'Alliance Airlines',
  '\\N',
  'QQ',
  'UTY',
  'UNITY',
  'Australia',
  'Y'),
 (120,
  '121',
  'Air Universal',
  '\\N',
  None,
  'UVS',
  'UNI-LEONE',
  'Sierra Leone',
  'N'),
 (121, '122', 'Auvia Air', '\\N', None, 'UVT', 'AUVIA', 'Indonesia', 'N'),
 (122,
  '123',
  'African West Air',
  '\\N',
  None,
  'AFC',
  'AFRICAN WEST',
  'Senegal',
  'N'),
 (123,
  '124',
  'Airfast Indonesia',
  '\\N',
  None,
  'AFE',
  'AIRFAST',
  'Indonesia',
  'N'),
 (124,
  '125',
  'Ariana Afghan Airlines',
  '\\N',
  'FG',
  'AFG',
  'ARIANA',
  'Afghanistan',
  'Y'),
 (125, '126', 'Air Fecteau', '\\N', None, 'AFH', 'FECTO', 'Canada', 'N'),
 (126, '127', 'Africaone', '\\N', None, 'AFI', 'AFRICAWORLD', 'Uganda', 'N'),
 (127, '128', 'Alliance', '\\N', None, 'AFJ', 'JAMBO', 'Uganda', 'N'),
 (128,
  '129',
  'Africa Air Links',
  '\\N',
  None,
  'AFK',
  'AFRICA LINKS',
  'Sierra Leone',
  'N'),
 (129,
  '130',
  'Aeroflot Russian Airlines',
  '\\N',
  'SU',
  'AFL',
  'AEROFLOT',
  'Russia',
  'Y'),
 (130,
  '131',
  'Aero Empresa Mexicana',
  '\\N',
  None,
  'AFO',
  'AERO EMPRESA',
  'Mexico',
  'N'),
 (131,
  '132',
  'Air Bosna',
  '\\N',
  'JA',
  'BON',
  'AIR BOSNA',
  'Bosnia and Herzegovina',
  'Y'),
 (132, '133', 'Air Bravo', '\\N', None, 'BRF', 'AIR BRAVO', 'Uganda', 'N'),
 (133, '134', "Air Brasd'or", '\\N', None, 'BRL', "BRASD'OR", 'Canada', 'N'),
 (134, '135', 'Air 500', '\\N', None, 'BRM', 'BOOMERANG', 'Canada', 'N'),
 (135,
  '136',
  'Alba Servizi Aerotrasporti',
  '\\N',
  None,
  'AFQ',
  'ALBA',
  'Italy',
  'N'),
 (136, '137', 'Air France', '\\N', 'AF', 'AFR', 'AIRFRANS', 'France', 'Y'),
 (137,
  '138',
  'Air Partner',
  '\\N',
  None,
  'ACG',
  'AIR PARTNER',
  'United Kingdom',
  'N'),
 (138,
  '139',
  'Air Caledonie International',
  '\\N',
  'SB',
  'ACI',
  'AIRCALIN',
  'France',
  'Y'),
 (139, '140', 'Air Caledonia', '\\N', None, 'ACM', 'WEST CAL', 'Canada', 'N'),
 (140,
  '141',
  'Air Guam',
  '\\N',
  None,
  'AGM',
  'AIR GUAM',
  'United States',
  'N'),
 (141, '142', 'Air Gabon', '\\N', 'GN', 'AGN', 'GOLF NOVEMBER', 'Gabon', 'N'),
 (142, '143', 'Air Data', '\\N', None, 'AFS', None, 'United Kingdom', 'N'),
 (143,
  '144',
  'Air Afrique Vacancies',
  '\\N',
  None,
  'AFV',
  'AFRIQUE VACANCE',
  'Ivory Coast',
  'N'),
 (144,
  '145',
  'Air Cargo America',
  '\\N',
  None,
  'MVM',
  'PEGASUS',
  'United States',
  'N'),
 (145, '146', 'Air Salone', '\\N', '2O', None, None, 'Sierra Leone', 'Y'),
 (146, '147', 'Air-Angol', '\\N', None, 'NGO', 'AIR ANGOL', 'Angola', 'N'),
 (147,
  '148',
  'Air Nigeria',
  '\\N',
  None,
  'NGP',
  'REGAL EAGLE',
  'Nigeria',
  'N'),
 (148,
  '149',
  'Air Cargo Carriers',
  '\\N',
  '2Q',
  'SNC',
  'NIGHT CARGO',
  'United States',
  'Y'),
 (149, '150', 'Air Samarkand', '\\N', None, 'SND', 'ARSAM', 'Uzbekistan', 'N'),
 (150,
  '151',
  'Air Senegal International',
  '\\N',
  'V7',
  'SNG',
  'AIR SENEGAL',
  'Senegal',
  'N'),
 (151, '152', 'Air Sandy', '\\N', None, 'SNY', 'AIR SANDY', 'Canada', 'N'),
 (152, '153', 'Air Namibia', '\\N', 'SW', 'NMB', 'NAMIBIA', 'Namibia', 'Y'),
 (153,
  '154',
  'Air Intersalonika',
  '\\N',
  None,
  'NSK',
  'INTERSALONIKA',
  'Greece',
  'N'),
 (154,
  '155',
  'Air Anatolia',
  '\\N',
  None,
  'NTL',
  'AIR ANATOLIA',
  'Turkey',
  'N'),
 (155, '156', 'Air Saigon', '\\N', None, 'SGA', 'AIR SAIGON', 'Vietnam', 'N'),
 (156,
  '157',
  'Afrique Regional Airways',
  '\\N',
  None,
  'AFW',
  'AFRAIR',
  'Ivory Coast',
  'N'),
 (157,
  '158',
  'Airfreight Express',
  '\\N',
  None,
  'AFX',
  ' ',
  'United Kingdom',
  'N'),
 (158,
  '159',
  'Africa Chartered Services',
  '\\N',
  None,
  'AFY',
  'AFRICA CHARTERED',
  'Nigeria',
  'N'),
 (159,
  '160',
  'Africa Freight Services',
  '\\N',
  None,
  'AFZ',
  'AFREIGHT',
  'Zambia',
  'N'),
 (160,
  '161',
  'Aeronaves Del Centro',
  '\\N',
  None,
  'AGA',
  None,
  'Venezuela',
  'N'),
 (161, '162', 'Air Service Gabon', '\\N', 'G8', 'AGB', None, 'Gabon', 'N'),
 (162,
  '163',
  'Arab Agricultural Aviation Company',
  '\\N',
  None,
  'AGC',
  'AGRICO',
  'Egypt',
  'N'),
 (163,
  '164',
  'Atlantic Gulf Airlines',
  '\\N',
  None,
  'AGF',
  'ATLANTIC GULF',
  'United States',
  'N'),
 (164, '165', 'Aerolitoral', '\\N', '5D', 'SLI', 'COSTERA', 'Mexico', 'Y'),
 (165, '166', 'Algoma Airways', '\\N', None, 'AGG', 'ALGOMA', 'Canada', 'N'),
 (166, '167', 'Altagna', '\\N', None, 'AGH', 'ALTAGNA', 'France', 'N'),
 (167,
  '168',
  'Angola Air Charter',
  '\\N',
  None,
  'AGO',
  'ANGOLA CHARTER',
  'Angola',
  'N'),
 (168,
  '169',
  'Angola Air Charter',
  '\\N',
  None,
  'AGO',
  'ANGOLA CHARTER',
  'Angola',
  'N'),
 (169, '170', 'AERFI Group', '\\N', None, 'AGP', 'AIR TARA', 'Ireland', 'N'),
 (170, '171', 'Aerogala', '\\N', None, 'AGQ', 'GALASERVICE', 'Chile', 'N'),
 (171,
  '172',
  'Amadeus Global Travel Distribution',
  '\\N',
  '1A',
  'AGT',
  'AMADEUS',
  'Spain',
  'N'),
 (172, '173', 'Angara Airlines', '\\N', None, 'AGU', 'SARMA', 'Russia', 'N'),
 (173,
  '174',
  'Air Glaciers',
  '\\N',
  '7T',
  'AGV',
  'AIR GLACIERS',
  'Switzerland',
  'Y'),
 (174, '175', 'Aero Gambia', '\\N', None, 'AGW', 'AERO GAMBIA', 'Gambia', 'N'),
 (175, '176', 'Aviogenex', '\\N', None, 'AGX', 'GENEX', 'Serbia', 'Y'),
 (176,
  '177',
  'Atlantic Coast Airlines',
  '\\N',
  None,
  'BLR',
  'BLUE RIDGE',
  'United States',
  'N'),
 (177, '178', 'Aero Barloz', '\\N', None, 'BLZ', 'AEROLOZ', 'Mexico', 'N'),
 (178, '179', 'Aeroper', '\\N', 'PL', 'PLI', 'Aeroperu', 'Peru', 'Y'),
 (179, '180', 'Atlas Blue', '\\N', '8A', 'BMM', 'ATLAS BLUE', 'Morocco', 'Y'),
 (180,
  '181',
  'Aero Banobras',
  '\\N',
  None,
  'BNB',
  'AEROBANOBRAS',
  'Mexico',
  'N'),
 (181,
  '182',
  'Aero Flight Service',
  '\\N',
  None,
  'AGY',
  'FLIGHT GROUP',
  'United States',
  'N'),
 (182, '183', 'Agrolet-Mci', '\\N', None, 'AGZ', 'AGROLET', 'Slovakia', 'N'),
 (183,
  '184',
  'Air Alpha Greenland',
  '\\N',
  'GD',
  'AHA',
  'AIR ALPHA',
  'Denmark',
  'N'),
 (184,
  '185',
  'Azal Avia Cargo',
  '\\N',
  None,
  'AHC',
  'AZALAVIACARGO',
  'Azerbaijan',
  'N'),
 (185,
  '186',
  'Airport Helicopter Basel',
  '\\N',
  None,
  'AHE',
  ' Muller & Co.',
  'AIRPORT HELICOPTER',
  'N'),
 (186,
  '187',
  'Aeroservices Corporate',
  '\\N',
  None,
  'CJE',
  'BIRD JET',
  'France',
  'N'),
 (187,
  '188',
  'Aspen Helicopters',
  '\\N',
  None,
  'AHF',
  'ASPEN',
  'United States',
  'N'),
 (188,
  '189',
  'Aerochago Airlines',
  '\\N',
  None,
  'AHG',
  'AEROCHAGO',
  'Dominican Republic',
  'N'),
 (189,
  '190',
  'Airplanes Holdings',
  '\\N',
  None,
  'AHH',
  'AIRHOLD',
  'Ireland',
  'N'),
 (190,
  '191',
  'Air Hong Kong',
  '\\N',
  'LD',
  'AHK',
  'AIR HONG KONG',
  'Hong Kong',
  'N'),
 (191, '192', 'Aerochiapas', '\\N', None, 'AHP', 'AEROCHIAPAS', 'Mexico', 'N'),
 (192, '193', 'Air Adriatic', '\\N', None, 'AHR', 'ADRIATIC', 'Croatia', 'N'),
 (193,
  '194',
  'Air Viggi San Raffaele',
  '\\N',
  None,
  'AHS',
  'AIRSAR',
  'Italy',
  'N'),
 (194,
  '195',
  'ABC Air Hungary',
  '\\N',
  None,
  'AHU',
  'ABC HUNGARY',
  'Hungary',
  'N'),
 (195,
  '196',
  'Aeromist-Kharkiv',
  '\\N',
  'HT',
  'AHW',
  'AEROMIST',
  'Ukraine',
  'N'),
 (196,
  '197',
  'Azerbaijan Airlines',
  '\\N',
  'J2',
  'AHY',
  'AZAL',
  'Azerbaijan',
  'Y'),
 (197, '198', 'Avies', '\\N', 'U3', 'AIA', 'AVIES', 'Estonia', 'Y'),
 (198,
  '199',
  'Airbus Industrie',
  '\\N',
  'AP',
  'AIB',
  'AIRBUS INDUSTRIE',
  'France',
  'N'),
 (199,
  '200',
  'Alpine Air Chile',
  '\\N',
  None,
  'AIH',
  'ALPINE CHILE',
  'Chile',
  'N'),
 (200, '201', 'Air Integra', '\\N', None, 'AII', 'INTEGRA', 'Canada', 'N'),
 (201,
  '202',
  'ABC Aerolineas',
  '\\N',
  None,
  'AIJ',
  'ABC AEROLINEAS',
  'Mexico',
  'N'),
 (202,
  '203',
  'African Airlines International Limited',
  '\\N',
  None,
  'AIK',
  'AFRICAN AIRLINES',
  'Kenya',
  'N'),
 (203,
  '204',
  'African International Airways',
  '\\N',
  None,
  'AIN',
  'FLY CARGO',
  'Swaziland',
  'N'),
 (204,
  '205',
  'Alpine Air Express',
  '\\N',
  '5A',
  'AIP',
  'ALPINE AIR',
  'United States',
  'N'),
 (205,
  '206',
  'Alicante Internacional Airlines',
  '\\N',
  None,
  'AIU',
  'ALIA',
  'Spain',
  'N'),
 (206, '207', 'Aba Air', '\\N', None, 'ABP', 'BAIR', 'Czech Republic', 'N'),
 (207, '208', 'Airblue', '\\N', 'ED', 'ABQ', 'PAKBLUE', 'Pakistan', 'Y'),
 (208,
  '209',
  'Airmark Aviation',
  '\\N',
  None,
  'THM',
  'THAI AIRMARK',
  'Thailand',
  'N'),
 (209,
  '210',
  'Airlift International',
  '\\N',
  None,
  'AIR',
  'AIRLIFT',
  'United States',
  'Y'),
 (210, '211', 'Airest', '\\N', None, 'AIT', ' ', 'Estonia', 'N'),
 (211, '212', 'Air Baffin', '\\N', None, 'BFF', 'AIR BAFFIN', 'Canada', 'N'),
 (212,
  '213',
  'Air Bandama',
  '\\N',
  None,
  'BDM',
  'BANDAMA',
  'Ivory Coast',
  'N'),
 (213, '214', 'Air Berlin', '\\N', 'AB', 'BER', 'AIR BERLIN', 'Germany', 'Y'),

In [90]:
import pandas as pd

In [91]:
df=cursor.execute("""SELECT * FROM airlines WHERE (country="United Kingdom" and active="Y") ORDER BY country DESC;""").fetchall()

In [92]:
df_2=pd.DataFrame(df)

In [93]:
df_2.columns=[x[0] for x in cursor.description]

In [94]:
df_2.head()

,index,id,name,alias,iata,icao,callsign,country,active
0,111,112,Astraeus,\N,5W,AEU,FLYSTAR,United Kingdom,Y
1,491,492,Air Southwest,\N,None,WOW,SWALLOW,United Kingdom,Y
2,507,508,Aurigny Air Services,\N,GR,AUR,AYLINE,United Kingdom,Y
3,564,565,Air Wales,\N,6G,AWW,RED DRAGON,United Kingdom,Y
4,664,665,AD Aviation,\N,None,VUE,FLIGHTVUE,United Kingdom,Y

In [95]:
cursor.execute("Select distinct country from airports;").fetchall()

[('Papua New Guinea',),
 ('Greenland',),
 ('Iceland',),
 ('Canada',),
 ('Algeria',),
 ('Benin',),
 ('Burkina Faso',),
 ('Ghana',),
 ("Cote d'Ivoire",),
 ('Nigeria',),
 ('Niger',),
 ('Tunisia',),
 ('Togo',),
 ('Belgium',),
 ('Germany',),
 ('United States',),
 ('Estonia',),
 ('Finland',),
 ('United Kingdom',),
 ('Guernsey',),
 ('Jersey',),
 ('Isle of Man',),
 ('Falkland Islands',),
 ('Netherlands',),
 ('Ireland',),
 ('Denmark',),
 ('Faroe Islands',),
 ('Luxembourg',),
 ('Norway',),
 ('Poland',),
 ('Sweden',),
 ('South Africa',),
 ('Botswana',),
 ('Congo (Brazzaville)',),
 ('Congo (Kinshasa)',),
 ('Swaziland',),
 ('Central African Republic',),
 ('Equatorial Guinea',),
 ('Saint Helena',),
 ('Mauritius',),
 ('British Indian Ocean Territory',),
 ('Cameroon',),
 ('Zambia',),
 ('Comoros',),
 ('Mayotte',),
 ('Reunion',),
 ('Madagascar',),
 ('Angola',),
 ('Puerto Rico',),
 ('Gabon',),
 ('Sao Tome and Principe',),
 ('Mozambique',),
 ('Seychelles',),
 ('Chad',),
 ('Zimbabwe',),
 ('Malawi',),
 ('Lesotho',),
 ('Mali',),
 ('Gambia',),
 ('Spain',),
 ('Sierra Leone',),
 ('Guinea-Bissau',),
 ('Liberia',),
 ('Morocco',),
 ('Senegal',),
 ('Mauritania',),
 ('Guinea',),
 ('Cape Verde',),
 ('Ethiopia',),
 ('Maldives',),
 ('Burundi',),
 ('Somalia',),
 ('Egypt',),
 ('Kenya',),
 ('Libya',),
 ('Rwanda',),
 ('Sudan',),
 ('South Sudan',),
 ('Tanzania',),
 ('Uganda',),
 ('Albania',),
 ('Bulgaria',),
 ('Cyprus',),
 ('Croatia',),
 ('Greece',),
 ('France',),
 ('Saint Pierre and Miquelon',),
 ('Hungary',),
 ('Italy',),
 ('Slovenia',),
 ('Czech Republic',),
 ('Israel',),
 ('Malta',),
 ('Austria',),
 ('Portugal',),
 ('Bosnia and Herzegovina',),
 ('Romania',),
 ('Switzerland',),
 ('Turkey',),
 ('Moldova',),
 ('Macedonia',),
 ('Gibraltar',),
 ('Serbia',),
 ('Montenegro',),
 ('Slovakia',),
 ('Turks and Caicos Islands',),
 ('Dominican Republic',),
 ('Guatemala',),
 ('Honduras',),
 ('Jamaica',),
 ('Mexico',),
 ('Nicaragua',),
 ('Panama',),
 ('Costa Rica',),
 ('El Salvador',),
 ('Haiti',),
 ('Cuba',),
 ('Cayman Islands',),
 ('Bahamas',),
 ('Belize',),
 ('Cook Islands',),
 ('Fiji',),
 ('Tonga',),
 ('Kiribati',),
 ('Australia',),
 ('Wallis and Futuna',),
 ('Samoa',),
 ('American Samoa',),
 ('French Polynesia',),
 ('Vanuatu',),
 ('New Caledonia',),
 ('New Zealand',),
 ('Antarctica',),
 ('Afghanistan',),
 ('Bahrain',),
 ('Saudi Arabia',),
 ('Iran',),
 ('Argentina',),
 ('Jordan',),
 ('West Bank',),
 ('Kuwait',),
 ('Lebanon',),
 ('United Arab Emirates',),
 ('Oman',),
 ('Pakistan',),
 ('Iraq',),
 ('Syria',),
 ('Qatar',),
 ('Northern Mariana Islands',),
 ('Guam',),
 ('Marshall Islands',),
 ('Midway Islands',),
 ('Micronesia',),
 ('Palau',),
 ('Taiwan',),
 ('Japan',),
 ('South Korea',),
 ('Philippines',),
 ('Turkmenistan',),
 ('Brazil',),
 ('Chile',),
 ('Ecuador',),
 ('Paraguay',),
 ('Colombia',),
 ('Bolivia',),
 ('Suriname',),
 ('French Guiana',),
 ('Peru',),
 ('Uruguay',),
 ('Venezuela',),
 ('Guyana',),
 ('Antigua and Barbuda',),
 ('Barbados',),
 ('Dominica',),
 ('Martinique',),
 ('Guadeloupe',),
 ('Grenada',),
 ('Virgin Islands',),
 ('Saint Kitts and Nevis',),
 ('Saint Lucia',),
 ('Aruba',),
 ('Netherlands Antilles',),
 ('Anguilla',),
 ('Trinidad and Tobago',),
 ('British Virgin Islands',),
 ('Saint Vincent and the Grenadines',),
 ('Kazakhstan',),
 ('Kyrgyzstan',),
 ('Azerbaijan',),
 ('Russia',),
 ('Ukraine',),
 ('Belarus',),
 ('Tajikistan',),
 ('Uzbekistan',),
 ('India',),
 ('Sri Lanka',),
 ('Cambodia',),
 ('Bangladesh',),
 ('Hong Kong',),
 ('Laos',),
 ('Macau',),
 ('Nepal',),
 ('Bhutan',),
 ('Thailand',),
 ('Indonesia',),
 ('Vietnam',),
 ('Burma',),
 ('Malaysia',),
 ('Brunei',),
 ('East Timor',),
 ('Singapore',),
 ('Christmas Island',),
 ('Norfolk Island',),
 ('China',),
 ('Korea',),
 ('Mongolia',),
 ('Latvia',),
 ('Lithuania',),
 ('Armenia',),
 ('Eritrea',),
 ('Palestine',),
 ('Yemen',),
 ('Georgia',),
 ('Bermuda',),
 ('Solomon Islands',),
 ('Nauru',),
 ('Tuvalu',),
 ('Namibia',),
 ('Djibouti',),
 ('Montserrat',),
 ('Monaco',),
 ('Johnston Atoll',),
 ('Niue',),
 ('Western Sahara',),
 ('Cocos (Keeling) Islands',),
 ('South Georgia and the Islands',),
 ('Myanmar',),
 ('Svalbard',),
 ('North Korea',),
 ('Wake Island',)]

**Task**: 
- Select only active airlines in the UK from the airlines table
- Select the unique list of countries with airports

### SQL Joins

SQL joins can be used to both **add** data to a table and **remove** data from a table.

![venn](img/venn.png)

**Task** Write a query that will join the latitude and longitude data from the airports table to the information on the routes table

In [103]:
# cursor.execute("Select r.*, latitude, longitude from airports a join routes r on  a.id =r.source_id ;").fetchall()
df = pd.read_sql_query("Select r.*, latitude, longitude from airports a join routes r on  a.id =r.source_id ;", conn)

DatabaseError: Execution failed on sql 'Select r.*, latitude, longitude from airports a join routes r on  a.id =r.source_id ;': no such table: airports

### Grouping statements

Combines `select` and `group by` when you want aggregates by values

`select` `min(x)` ... `max()`, `sum()`, etc

`group by x`

**Task**<br>
- Which countries have the highest amount of active airports?
- Which countries have the highest amount of inactive airports?
- What about airports by timezones?

## Goal 5: Using sql within pandas to filter

`.query()`

[query documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html)

In [97]:
# Get data for an example
import pandas as pd
shelter_data=pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')
shelter_data.dtypes

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Date of Birth       object
Outcome Type        object
Outcome Subtype     object
Animal Type         object
Sex upon Outcome    object
Age upon Outcome    object
Breed               object
Color               object
dtype: object

In [98]:
max_data = shelter_data.query('Name == "Max"')
max_data.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
349,A443876,Max,05/06/2019 04:56:00 PM,05/06/2019 04:56:00 PM,03/21/2006,Adoption,NaN,Cat,Neutered Male,13 years,Domestic Shorthair Mix,Blue Tabby/White
673,A793215,Max,04/30/2019 11:49:00 AM,04/30/2019 11:49:00 AM,04/21/2017,Return to Owner,NaN,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,Black/White
823,A731802,Max,04/26/2019 06:17:00 PM,04/26/2019 06:17:00 PM,07/27/2015,Adoption,NaN,Dog,Neutered Male,3 years,Maltese Mix,White
824,A789320,Max,04/26/2019 06:01:00 PM,04/26/2019 06:01:00 PM,08/19/2017,Adoption,NaN,Dog,Neutered Male,1 year,Pit Bull Mix,White/Black
1162,A793073,Max,04/19/2019 01:55:00 PM,04/19/2019 01:55:00 PM,04/19/2017,Return to Owner,NaN,Dog,Intact Male,2 years,Boxer Mix,Brown/Tricolor

In [99]:
shelter_data.rename(index=str, columns={"Animal Type": "animal_type"}, inplace = True)
test = shelter_data.query('animal_type == "Dog"')
test.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,animal_type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794145,NaN,05/13/2019 04:36:00 PM,05/13/2019 04:36:00 PM,03/04/2019,Transfer,Partner,Dog,Intact Male,2 months,Shih Tzu Mix,White/Brown
2,A789190,*Dublin,05/13/2019 12:19:00 PM,05/13/2019 12:19:00 PM,02/17/2016,Adoption,NaN,Dog,Neutered Male,3 years,Australian Cattle Dog/Labrador Retriever,Red Tick/White
3,A794772,Rocky,05/13/2019 12:19:00 PM,05/13/2019 12:19:00 PM,05/12/2018,Return to Owner,NaN,Dog,Intact Male,1 year,Labrador Retriever,Brown/White
5,A794788,Rocco,05/13/2019 11:59:00 AM,05/13/2019 11:59:00 AM,08/13/2018,Return to Owner,NaN,Dog,Neutered Male,8 months,Miniature Pinscher,Black/Tan
6,A794472,NaN,05/13/2019 11:45:00 AM,05/13/2019 11:45:00 AM,05/08/2017,Transfer,Partner,Dog,Spayed Female,2 years,Bichon Frise Mix,White

## Goal 6: Transfering from sqlite to pandas

In [122]:
conn = sqlite3.connect("Chinook_Sqlite.sqlite")
c=conn.cursor()
df = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
df

             name
0           Album
1          Artist
2        Customer
3        Employee
4           Genre
5         Invoice
6     InvoiceLine
7       MediaType
8        Playlist
9   PlaylistTrack
10          Track

In [132]:
# conn.execute("SELECT primary_key FROM Chinook_Sqlite.sqlite;")

OperationalError: no such column: type

In [138]:
c.execute("PRAGMA table_info(Album)")
info = c.fetchall()
print(*info, sep = "\n")

(0, 'AlbumId', 'INTEGER', 1, None, 1)
(1, 'Title', 'NVARCHAR(160)', 1, None, 0)
(2, 'ArtistId', 'INTEGER', 1, None, 0)

In [139]:
c.execute("PRAGMA foreign_key_list (Track)")
info = c.fetchall()
print(*info, sep = "\n")

(0, 0, 'MediaType', 'MediaTypeId', 'MediaTypeId', 'NO ACTION', 'NO ACTION', 'NONE')
(1, 0, 'Genre', 'GenreId', 'GenreId', 'NO ACTION', 'NO ACTION', 'NONE')
(2, 0, 'Album', 'AlbumId', 'AlbumId', 'NO ACTION', 'NO ACTION', 'NONE')

In [141]:
c.execute("PRAGMA table_info(Artist)")
info = c.fetchall()
print(*info, sep = "\n")

(0, 'ArtistId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(120)', 0, None, 0)

In [152]:
c.execute("PRAGMA table_info(Invoice)")
info = c.fetchall()
print(*info, sep = "\n")

(0, 'InvoiceId', 'INTEGER', 1, None, 1)
(1, 'CustomerId', 'INTEGER', 1, None, 0)
(2, 'InvoiceDate', 'DATETIME', 1, None, 0)
(3, 'BillingAddress', 'NVARCHAR(70)', 0, None, 0)
(4, 'BillingCity', 'NVARCHAR(40)', 0, None, 0)
(5, 'BillingState', 'NVARCHAR(40)', 0, None, 0)
(6, 'BillingCountry', 'NVARCHAR(40)', 0, None, 0)
(7, 'BillingPostalCode', 'NVARCHAR(10)', 0, None, 0)
(8, 'Total', 'NUMERIC(10,2)', 1, None, 0)

c.execute("""SELECT * from Invoice""";).fetchall()

In [157]:
c.execute("""SELECT max(InvoiceDate), min(InvoiceDate) from Invoice;""").fetchall()

[('2013-12-22 00:00:00', '2009-01-01 00:00:00')]

**Task**: 
Convert one of the earlier queries in the lesson to a pandas data frame

## Integration

The [Chinook database](https://github.com/lerocha/chinook-database) is a sample database, representing a digital media store.

You need to create a query that can rank tracks in term of popularity.

The name of the database is `Chinook_Sqlite.sqlite`

Database information:<br>
- How many tables are in the database?
- What's the primary key of each table?
- What foreign keys join the tables together?
- If you had to draw a schema of how the tables are connected, what would it look like?

To answer the question:<br>
- What are the max and min dates in the Invoice table?
- What tables would you need to answer "what is your most popular track?"
- What values from each table?

In [ ]:
Chinook_Sqlite.sqlite

## Reflection